* , html , body {
    margin:0px;
    padding:0px;}

ul{
    background-color:#294CFA;
    height:65px;}

li{
    color:#fff;
    height:30px;
    float:right;
    font-family: 'Cairo', sans-serif;
    font-weight:bold;
    padding:17px 30px;
    font-size:2em;
    list-style-type:none}

li:hover{
    background-color:#1c1f2a;
}

h3{
    float:left;
    padding:10px 30px;
    font-size:2.1em;
    height:45px;
    color:#fff;
    font-family:Noor;
}

h3:hover{
    background-color:#1c1f2a;
}

.curved{
    color:#fff;
    width:1366px;
    position: fixed;
    bottom:-4px;
}


p{
    color:red;
    font-family:Noor;
    font-size:3.7em;
    position:fixed;
    bottom:85px;
    margin-left:620px;
    color:#fff;
}

.baseborder{
    border-style:solid;
    border-color:#000000;
    margin-top:120px;
    margin-left:200px;
    transform: rotate(15deg);
    border-width:1px;
    width:300px;
    height:80px;
}

br{
    margin-top: 1.8px;
}

.iraq{
    margin-left:-1px;
    height:80px;
    border-right-style:solid;
    border-right-width:1px;
    text-align:center;
    border-color:#000000;
    width:30px;
    background-color:#294CFA;
    color:#fff;
    font-family: 'Cairo', sans-serif;
    font-weight:bold;
}


.no{
    color:#333030;
    font-family: 'Cairo', sans-serif;
    font-weight:;
    font-size:45px;
    margin-left:42px;
    margin-top:-63px;
}

.text{
    color:#333030;
    font-size:44px;
    margin-left:205px;
    margin-top:-51px;
}